/*====================== GERAIS ============================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset {
  border: none;
}

/*====================== BODY ============================== */

body {
  font-family: 'Poppins', sans-serif;

  background-color: #BFD7E4;
}

body::before {
  background-color: #293241;

  content: '';

  width: 100%;
  height: 465px;

  position: absolute;
  display: block;

  z-index: -1;
  
  top: 0;
  left: 0;
}

/*====================== HEADER ============================== */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 107px;
}

.header h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  color: #FFFFFF;
}

.header small {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
  
  margin-bottom: 20px;
}


.header .top-page {
  width: 750px;
  height: 133px;

  background-color: #F67669;

  border-radius: 20px 20px 0px 0px;

  margin-top: 36px;
}

.header .top-page h3 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 50px 275px;
}

/*====================== INPUT-PESSOAL ============================== */
form {
  margin: 0px 345px 392px 345px;

  width: 750px;
  height: 1110px;

  padding: 32px 64px 0 64px;

  background-color: #FFFFFF;

  border-radius: 0px 0px 20px 20px;
}

.inputs-pessoal {
  display: flex;
  gap: 22px;
}

.pessoal .input-guys {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pessoal .input-guys label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-top: 30px;
}

.pessoal .input-guys input {
  width: 300px;
  height: 56px;

  background-color: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #28252d;
}

.pessoal .emailForm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pessoal .emailForm label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

.pessoal .emailForm label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}

.pessoal .emailForm input {
  width: 622px;
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #28252d;
}

/*====================== INPUT-MENTOR ============================== */

.mentor {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
}

.mentor h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #253B51;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 8px;
}

.mentor .line {
  border: 1px solid #E6E6F0;
  width: 622px;

  margin-bottom: 32px;
}

.mentor .whatMentor {
  display: flex;
  flex-direction: column;
}

.mentor .whatMentor label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-bottom: 8px;
}

.mentor .whatMentor select {
  width: 300px;
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  padding: 10px;
}

.mentor .feedback {
  display: flex;
  flex-direction: column;

  margin-top: 32px;
}

.mentor .feedback label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  margin-bottom: 8px;
}

.mentor .feedback textarea {
  width: 608px;
  height: 166.59px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  margin-bottom: 30px;

  padding: 15px;
}

.mentor .checkboxMentor {
  position: relative;
}

.mentor .checkboxMentor input {
  width: 24px;
  height: 24px;

  border: 1px solid #E6E6F0;
  border-radius: 38px;

  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
}

.mentor .checkboxMentor label::before {
  content: " ";
  width: 24px;
  height: 24px;

  border: 1px solid #E6E6F0;
  border-radius: 8px;

  display: block;
}

.mentor .checkboxMentor label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;

  display: flex;
  gap: 8px;
  align-items: center;
}

.mentor .checkboxMentor input:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.17L4.83 12L3.41 13.41L9 19L21 7L19.59 5.59L9 16.17Z' fill='%2342D3FF'/%3E%3C/svg%3E%0A");
}

/*====================== INPUT-DIARY ============================== */

.diary {
  margin-top: 36px;
}

.diary h2 {
  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #253B51;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.diary .line {
  width: 622px;
  border: 1px solid #E6E6F0;

  margin-bottom: 34px;
}

.finalDate { 
  display: flex;
  gap: 10px;

  padding-left: 32px;
}

.date {
  display: flex;
  align-items: center;
}

.diary .date .dateDiary {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.diary .date .dateDiary label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
  display: flex;
  align-items: center;
  gap: 7px;
}

.diary .date .dateDiary label span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #C1BCCC;
}

.diary .date .dateDiary input {
  width: 300px;
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.diary .date .init {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.diary .date .init label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
  display: flex;
  align-items: center;
  gap: 7px;
}

.diary .date .init input {
  width: 140px;
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

.diary .date .finish {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.diary .date .finish label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
  display: flex;
  align-items: center;
  gap: 7px;
}

.diary .date .finish input {
  width: 140px;
  height: 56px;

  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
}

/*====================== BUTTON ============================== */
button {
  width: 622px;
  height: 51px;

  background: #F67669;

  border-radius: 8px;
  border: none;

  font-family: 'Staatliches', cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;

  margin-top: 64px;
  margin-bottom: 64px;
}